/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
	margin: 0 auto;
	width: 90%;
}

/*.primary-header >* {
	border: 2px solid green;
}*/

.primary-header {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	/*border: 2px solid green;*/
}

.address p {
	vertical-align: baseline;
}

.primary-header div p {
	padding-top: 16px;
	height: 80px;
	line-height: 20px;
	font-size: 18px;
	text-align: right;
	font-family: lucida-sans;
}

#myname {
	font-size: 50px;
	font-family: comic-sans;
}

.bullet  img, h3 {
	/*border: 2px solid green;*/
	display: inline;
}

h3 {
	/*border: 2px solid green;*/
	line-height: 40px;
	vertical-align: top;
	margin-top: 14px;
	font-size: 21px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-weight: bold;
}

.bullet {
	padding-left: 15px;
	margin-bottom: 5px;
	padding-top: 8px;
}
.bullet  img {
	border-radius: 50%;
}

.profile h5 {
	display: list-item;
	list-style-type: square;
}

#objective {
	display: list-item;
	list-style-type: square;
}

.achievements li {

	display: flex;
	justify-content: space-between;
	list-style-type: circle;
	padding-left: 15px;
	padding-top: 8px;
}

.achievements li {
	display: flex;
	justify-content: space-between;
}

.education-details {
	display: flex;
	justify-content: space-between;
}

.experience {
	display: flex;
	justify-content: space-between;
}

.experience li {
	padding-top: 5px;
}

.organisation {
	text-align: right;
}

.skills {
	list-style-type: circle;
	display: flex;
	justify-content: space-between;
}

#first li {
	margin-left: 15px;
}

.even {
	padding-top: 5px;
}

/*.activities-details {
	display: flex;
	justify-content: space-between;
}*/

.projects ul {
	list-style-type: circle;
	padding-left: 15px;
}

.projects li {
	padding-top: 5px;
}

.leadership {
	padding-left: 20px;
}

h4 {
	font-weight: bolder;
}

h5 {
	font-weight: bolder;
	display: list-item;
	list-style-type: square;
}

#interest h5 {
	padding-top: 5px;
	display: inline-block;
	list-style-type: square;

}

#leadership h5 {
	padding-top: 5px;
	display: inline-block;
}

h6 {
	line-height: 20px;
}

#referee a {
	/*border: 2px solid green;*/
	line-height: 45px;
	margin-top: 20px;
}